$color-background=#222
$color-background-d=rgba(0,0,0,0.3)
$color-height-background=#333
$color-dialog-background=#666

//主题
$color-theme=#ffcd32
$color-theme-d=rgba(255,205,49,0.5)
$color-sub-theme=#d93f30

//字体颜色
$color-text=#fff
$color-text-d=raga(255,255,255,0.3)
$color-text-l=raga(255,255,255,0.5)
$color-text-ll=raga(255,255,255,0.9)

//字体大小
$font-size-small-s=10px
$font-size-small-small=12px
$font-size-small-medium=14px
$font-size-small-medium-x=16px
$font-size-large=18px
$font-size-large-x=14px



